{{#each inns}}
<div class="row">
    <div class="col-4">
        <a href="/admin/confirmed-inn?id={{this.id}}">
            <img src="{{this.image_slide}}" alt=""
        style="width: 100%">
        </a>
    </div>
    <div class="col-8">
        <a href="/admin/confirmed-inn?id={{this.id}}">
            <h4>{{this.title}}</h4>
        </a>
        <div class="row">
            <h5>{{this.price}}</h5>
            <h5>{{this.acreage}}</h5>
            <h5>{{this.address}}</h5>
            <h5>18 gio truoc</h5>
        </div>
        <div>
            <p>{{this.summary}}</p>
        </div>
        <div class="row">
            <img src="{{this.author_avatar}}" alt=""
        style="width: 50px">
            <p>{{this.author_name}}</p>
        </div>
    </div>
    <form action="/admin/confirmed-inn/delete?id={{this.id}}" method="POST">
        <button type="submit" class="btn btn-primary">Xoa tro</button>
    </form>
</div>
{{/each}}