<div class="shadow w-100 p-container pb-1">
{{#each inns}}
<div class=" shadow bg-body rounded mb-4 p-tb-0 w-100">
  <div class="card-body p-2 pl-4 w-100">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex flex-row align-items-center w-100">
        <a href="/admin/confirmed-inn?id={{this.id}}">
            <div
            style="
            background-image: url('{{this.image_slide}}');"
            class="bg-i-inn"
            >
            </div>
        </a>
        <div class="ms-3 w-100">
          <a href="/admin/confirmed-inn?id={{this.id}}" class="a">
            <h5>{{this.title}}</h5>
          </a>
          <div class="flex">
            <p class="small mb-0">{{this.price}}</p>
            <p class="small mb-0 ml-20px">{{this.acreage}}</p>
            <p class="small mb-0 ml-20px">{{this.address}}</p>
          </div>
          <p>{{this.summary}}</p>
          <div class="pl-0 flex">
            <div class="pl-0 flex">
                <a class="nav-link dropdown-toggle pl-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{this.author_avatar}}" width="40" height="40" class="rounded-circle">
                </a>
                <div class="flex-align-center">
                    <p class="mb-0">{{this.author_name}}</p>
                </div>
            </div>
            <div class="flex-1 flex-end mr-4">
                <form action="/admin/confirmed-inn/delete?id={{this.id}}" method="POST" class="flex-align-center">
                    <div class="flex-align-center">
                        <button type="submit" class="button">Xóa bài đăng</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>