<div class="wrap mt-4 mt-50">
    <div class=" flex-align-center button-width">
      <button class="button t-upper button-width" href="#">BÁO CÁO PHẢN HỒI</button>
    </div>
</div>
<div class="report-container shadow mt-4 p-40">
      <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col" class="w-10">STT</th>
      <th scope="col" class="w-40">Email người phản hồi</th>
      <th scope="col" class="w-50">Nội dung phản hồi</th>
    </tr>
  </thead>
  <tbody id="tbody">
    <tr>
      <th scope="row">01</th>
      <td>
          thanh2k1582@gmail.com
      </td>
      <td>
          Trọ đã có người thuê
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="wrap mt-4 mt-50">
    <div class=" flex-align-center button-width">
      <button class=" t-upper button button-width" href="#">thông tin chi tiết</button>
    </div>
</div>
<div class="shadow p-60 mt-20">
{{#with post}}
<div class="relative">
  <div class="slide-container mr-ml-10px">
  <div class="slide-child-container relative">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('{{image_slide}}')">
        </div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding2.jpeg')"></div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding.jpeg')"></div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding2.jpeg')"></div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding.jpeg')"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
</div>
<div class="ml-20px">
        <div class="mt-4">
        <h5 class="t-c">
            {{title}}
        </h5>
        <div class="ml-20px">
            <p class="p">
            Địa chỉ: 
            {{address}}
            </p>
            <p>Giá: {{price}}</p>
            <p>Diện tích: {{acreage}}</p>
        </div>
        </div>
        <div>
            <h5 class="t-c">Thông tin mô tả</h5>
            <div class="ml-20px">{{{description}}}</div>
        </div>
        <h5 class="t-c">Địa điểm đăng tin: </h5>
        <div class="ml-10">
            <p >{{{postPlace}}}</p>
        </div>
        <h5 class="t-c">Thông tin liên hệ: </h5>
        <div class="ml-10">
            <p>{{{contact}}}</p>
        </div>
</div>
{{/with}}
</div>

{{!-- swiper --}}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        speed: 500,
        autoplay: {
          delay: 500000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        effect: 'slide',
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>