{{#if posts}}
    {{#each posts}}
    <div>
        <div class="row">
            <div class="col-4">
            <a href="/admin/post/detail?id={{this.id}}">
                <img src="/images/{{this.image_slide}}" alt="" style="width:200px">      
            </a>
            </div>
            <div class="col-8">
            <a href="/admin/post/detail?id={{this.id}}">
                <h4>{{this.title}}</h4>
            </a>
            <div class="row">
                <p>{{this.price}}</p>
                <p>{{this.acreage}}</p>
                <p>{{this.address}}</p>
                <p>Thoi gian tao</p>
            </div>
            <div>
                {{{this.description}}}
            </div>
            <div class="row">
                <img src="https://jes.edu.vn/wp-content/uploads/2017/10/h%C3%ACnh-%E1%BA%A3nh.jpg" alt="" style="width:20px">      
                <p>{{this.author_name}}</p>
            </div>
            </div>
        </div>
    </div>
{{/each}}
{{else}}
    <h1>Khong co bat ki bai dang nao can duoc phe duyet</h1>
{{/if}}