<table class="table">
  <thead>
    <tr>
      <th scope="col" class="w-50">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <li class="nav-item dropdown flex-align-center">
              <a class="nav-link dropdown-toggle p-0" href="#" id="fetch" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Năm tổ chức
              </a>
              <ul class="dropdown-menu" aria-labelledby="fetch">
                  {{#each years}}
                    <li onclick="showEvent(this)"><a class="dropdown-item">{{this.year}}</a></li>
                  {{/each}}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="">Tất cả</a></li>
              </ul>
          </li>
        </ul>
      </th>
      <th scope="col" class="w-50">Sự kiện</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {{#each dataHappenEvents}}
    <tr>
      <th scope="row">{{this.action_time}}</th>
      <td>
          <a href="/events/action-year?year={{this.action_time}}&&event_name={{this.title}}">
              {{this.title}}
          </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p id="noEvent"></p>

<script>
  const showEvent = async(e) => {
      const yearEvent = e.childNodes[0].innerHTML

      const ulId = document.getElementById('fetch');
      ulId.innerHTML = yearEvent;

      const data_filter = await fetch('http://localhost:3000/events/filterEvents',{
        method: "POST",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ year: yearEvent})
      })
      const events = await data_filter.json();
      let eventTransformHtml = "";
      events.map(event => {
        eventTransformHtml += `<tr>
                                <th scope="row">
                                  ${event.action_time}
                                </th>
                                <td>
                                    <a href="/events/action-year?year=${event.action_time}&&event_name=${event.title}">
                                        ${event.title}
                                    </a>
                                </td>
                              </tr>`
      })
      const listEvent = document.getElementById("tbody");
      const noEvent = document.getElementById("noEvent")
      noEvent.innerHTML = '';
      if(!eventTransformHtml) {
        eventTransformHtml = '';
        noEvent.innerHTML = `Năm ${yearEvent} đã không có bất kì sự kiện nào được diễn ra hoặc chưa được cập nhật`
      }
      listEvent.innerHTML = eventTransformHtml;
  }


  {{!-- use function --}}
  $("#yearEvent").change(function(){
        search();
  })
</script>