<div class="relative">
  <div class="absolute z-index-10 flex-column">
    <div>
      <h1 class="t-c t-b-c t-border-coder" style="cursor: pointer" data-toggle="modal" data-target="#exampleModalCenter">ĐĂNG KÝ SỰ KIỆN</h1>
    </div>
    {{#with happeningEventData}}
    <h2 class="mt-20">
      <a href="/happening-event/{{title}}" class="t-c a-c t-border-coder">{{title}}</a>
    </h2>
    {{/with}}
  </div>
  <div class="slide-container mr-ml-10px">
  <div class="slide-child-container relative">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding.jpeg')">
            Slide 1
        </div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding2.jpeg')">Slide 2</div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding.jpeg')">Slide 3</div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding2.jpeg')">Slide 4</div>
        <div class="swiper-slide bg-i-slide-home" style="background-image: url('/images/teambuilding.jpeg')">Slide 5</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
</div>
<style>
  .swiper {
        width: 100%;
        height: 100%;
      }

  .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
  .swiper-slide-background {
    background: #ffffff
  }
</style>
{{!-- Nha tro --}}
<div class="wrap mt-50 mb-20">
  <div class="flex-align-center">
    <a class="button-2">NHÀ TRỌ ĐÀ NẴNG</a>
  </div>
</div>

<div class="shadow p-4">
  <div class="w-100 t-c ">
    <div class="w-100 slide-inn">
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide flex-column swiper-slide-background t-j pt-16">
          {{!-- start --}}
          {{#each inns}}
          <div class=" shadow bg-body rounded mr-ml-10px mb-4 p-tb-0 w-100">
            <div class="card-body p-2 pl-4">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <a href="/inns/{{this.id}}?title={{this.title}}">
                      <div
                      style="
                      background-image: url('{{this.image_slide}}');"s
                      class="bg-i-inn-home"
                      >
                      </div>
                  </a>
                  <div class="ms-3">
                    <a href="/inns/{{this.id}}?title={{this.title}}" class="a">
                      <h5>{{this.title}}</h5>
                    </a>
                    <div class="flex">
                      <p class="small mb-0">{{this.price}}</p>
                      <p class="small mb-0 ml-20px">{{this.acreage}}</p>
                      <p class="small mb-0 ml-20px">{{this.address}}</p>
                    </div>
                    <p>Mo ta</p>
                    <div class="pl-0 flex">
                      <div class="avatar-poster mb-1">

                      </div>
                      <div class="flex-align-center ml-2">
                        <p class="mb-0">Nguoi dang</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{!-- end --}}
        </div>
      </div>
      <div class="swiper-scrollbar2"></div>
    </div>
</div>
  </div>
  <div class="wrap mt-4">
    <div class="button flex-align-center">
      <a class=" t-upper" href="/all-inns">xem thêm</a>
    </div>
</div>
</div>

{{!-- Gioi thieu --}}
<div class="wrap mt-50 mb-20">
  <div class="flex-align-center">
    <a class="button-2 t-upper">giới thiệu về hội</a>
  </div>
</div>
<div class="shadow p-3 mb-1 bg-body rounded background-config flex-column p-4 mt-5 mb-5 m-10px">
  <h5 class="pt-8 t-c t-upper">Hội đồng hương</h5>
  <h4 class="pb-1 t-c t-upper">Học sinh - Sinh viên huyện Bình Sơn tại Thành phố Đà Nẵng</h4>
  <img src="/images/logo/LOGO.png" alt="" class="w-10">
  <div class="w-75 t-c ">
    <div class="w-100 slide-height" id="info">
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide flex-column swiper-slide-background t-j pt-0">
          <p>
            Curabitur sed sodales leo. Nulla facilisi. Etiam condimentum, nisi
            id tempor vulputate, nisi justo cursus justo, pellentesque
            condimentum diam arcu sit amet leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. In placerat
            tellus a posuere vehicula. Donec diam massa, efficitur vitae mattis
            et, pretium in augue. Fusce iaculis mi quis ante venenatis, sit amet
            pellentesque orci aliquam. Vestibulum elementum posuere vehicula.
          </p>
          <p>
            Curabitur sed sodales leo. Nulla facilisi. Etiam condimentum, nisi
            id tempor vulputate, nisi justo cursus justo, pellentesque
            condimentum diam arcu sit amet leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. In placerat
            tellus a posuere vehicula. Donec diam massa, efficitur vitae mattis
            et, pretium in augue. Fusce iaculis mi quis ante venenatis, sit amet
            pellentesque orci aliquam. Vestibulum elementum posuere vehicula.
          </p>
          <p>
            Curabitur sed sodales leo. Nulla facilisi. Etiam condimentum, nisi
            id tempor vulputate, nisi justo cursus justo, pellentesque
            condimentum diam arcu sit amet leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. In placerat
            tellus a posuere vehicula. Donec diam massa, efficitur vitae mattis
            et, pretium in augue. Fusce iaculis mi quis ante venenatis, sit amet
            pellentesque orci aliquam. Vestibulum elementum posuere vehicula.
          </p>
          <p>
            Curabitur sed sodales leo. Nulla facilisi. Etiam condimentum, nisi
            id tempor vulputate, nisi justo cursus justo, pellentesque
            condimentum diam arcu sit amet leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. In placerat
            tellus a posuere vehicula. Donec diam massa, efficitur vitae mattis
            et, pretium in augue. Fusce iaculis mi quis ante venenatis, sit amet
            pellentesque orci aliquam. Vestibulum elementum posuere vehicula.
          </p>
          <p>
            Curabitur sed sodales leo. Nulla facilisi. Etiam condimentum, nisi
            id tempor vulputate, nisi justo cursus justo, pellentesque
            condimentum diam arcu sit amet leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. In placerat
            tellus a posuere vehicula. Donec diam massa, efficitur vitae mattis
            et, pretium in augue. Fusce iaculis mi quis ante venenatis, sit amet
            pellentesque orci aliquam. Vestibulum elementum posuere vehicula.
          </p>
        </div>
      </div>
      <div class="swiper-scrollbar2"></div>
    </div>
</div>
  </div>
  {{!-- button --}}
  <div class="wrap mt-50" id="btn-content">
    <button class="button" onclick="show()" id="btn">XEM TẤT CẢ</button>
  </div>
</div>

<script>
function show() {
  document.getElementById("info").classList.remove('slide-height');
  document.getElementById("btn").innerHTML = 'THU GỌN';
  document.getElementById("btn").setAttribute('onclick', 'up()')
}

function up() {
  document.getElementById("info").classList.add('slide-height');
  document.getElementById("btn").innerHTML = 'XEM TẤT CẢ';
  document.getElementById("btn").setAttribute('onclick', 'show()')
}
</script>

{{!-- swiper --}}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        speed: 2000,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        effect: 'slide',
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      var swiperScrollContainer = new Swiper(".mySwiper2", {
        direction: "vertical",
        slidesPerView: "auto",
        freeMode: true,
        scrollbar: {
          el: ".swiper-scrollbar2",
        },
        mousewheel: true,
      });
</script>

{{!-- modal --}}
{{#with user}}	
<div class="modal fade pt-0" id="exampleModalCenter" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close d-flex align-items-center justify-content-center bg-c-b" data-dismiss="modal" aria-label="Close">
          <i class="material-icons t-c-b z-index-100" style="font-size:24px" aria-hidden="true">close</i>
        </button>
      </div>
      <div class="row no-gutters">
        <div class="col-md-6 d-flex">
          <div class="modal-body p-5 img d-flex color-1 text-center d-flex align-items-center">
            <div class="text w-100">
              <span class="icon-2 ion-ios-beer"></span>
              <h5>Plan your activities and control your progress online</h5>
              <div class="icon">
                <span class="ion-ios-bicycle"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="modal-body p-5 img d-flex align-items-center color-2">
            <div class="text w-100 py-0 py-md-5 pb-0 pt-0">
              <h3 class="mb-4">Registis event</h3>
              <form action="register-event" method="POST" class="signup-form">
                <div class="form-group mb-3 t-a-l">
                  <label class="label" for="name">Full Name</label>
                  <input type="text" class="form-control" placeholder="your name" value="{{name}}">
                </div>
                <div class="form-group mb-3 t-a-l">
                  <label class="label" for="email">Email Address</label>
                  <input type="text" class="form-control" placeholder="@gmail.com" value="{{email}}">
                </div>
                <div class="form-group mb-3 t-a-l">
                  <label class="label" for="name">Birthday</label>
                  <input type="text" class="form-control" placeholder="your birthday" value="{{birthday}}">
                </div>
                 <div class="form-group mb-3 t-a-l">
                  <label class="label" for="name">Address</label>
                  <input type="text" class="form-control" placeholder="your address" value="{{address}}">
                </div>
                 <div class="form-group mb-3 t-a-l">
                  <label class="label" for="name">Facebook link</label>
                  <input type="text" class="form-control" placeholder="your facebook link" value="{{facebookLink}}">
                </div>
                <div class="form-group mb-3 t-a-l">
                  <label class="label" for="name">Phone number</label>
                  <input type="text" class="form-control" placeholder="your phone number" value="{{phone_number}}">
                </div>
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary rounded submit px-3">REGISTIS</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}
</script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>