{{#with happeningEventData}}
<div class="position-relative bg-success w-100" style="height:400px; background-image: url(/images/{{this.image_name}}); background-repeat: no-repeat; background-size: cover; background-position: center;" >
  <h2 class="position-absolute text-light" style="top:40%; left:30%; cursor: pointer" id="myBtn">DANG KY SU KIEN</h2>
    <a href="/happening-event/{{title}}" class="text-light position-absolute" style="top:60%; left:14%; font-size: 30px">{{title}}</a>
</div>
{{/with}}
<h1>Phong tro da nang</h1>
{{#each inns}}
<div>
  <div class="row">
    <div class="col-4">
      <a href="/inns/{{this.id}}?title={{this.title}}">
        <img src="{{this.image_slide}}" alt="" style="width:200px">      
      </a>
    </div>
    <div class="col-8">
      <a href="/inns/{{this.id}}?title={{this.title}}">
        <h4>{{this.title}}</h4>
      </a>
      <div class="row">
        <p>{{this.price}}</p>
        <p>{{this.acreage}}</p>
        <p>{{this.address}}</p>
        <p>Thoi gian tao</p>
      </div>
      <div>
        {{{this.description}}}
      </div>
      <div class="row">
        <img src="https://jes.edu.vn/wp-content/uploads/2017/10/h%C3%ACnh-%E1%BA%A3nh.jpg" alt="" style="width:20px">      
        <p>{{this.author_name}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
<h1>Thong tin ve hoi</h1>
<div class="position-relative bg-success w-100" style="height:400px; background-image: url(/images/{{this.image_name}}); background-repeat: no-repeat; background-size: cover; background-position: center;" >
  <h2 class="position-absolute text-light" style="top:10%; left:20%; cursor: pointer">HDH HS-SH H.BS Tai TP DANANG</h2>
    <a class="text-light position-absolute" style="top:22%; left:6%; font-size: 12px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod cupiditate doloribus soluta pariatur enim commodi assumenda reprehenderit laborum magni amet harum deserunt earum nesciunt, fugit facere neque placeat ab labore dolores aspernatur. Distinctio reprehenderit laudantium aut? Aliquid cumque similique velit officiis, modi, corporis numquam est eum sequi nisi omnis illo aperiam harum rem alias quaerat. Nihil porro blanditiis ex quod deleniti animi nulla error, necessitatibus, corrupti recusandae voluptatibus dolores optio reiciendis maiores eligendi consequuntur. Soluta nulla in maiores, numquam similique illo culpa corrupti officia? Libero asperiores atque reprehenderit quibusdam voluptatibus, possimus earum porro molestias? Iusto nesciunt iure, inventore quo ducimus eum molestias obcaecati nisi adipisci, vitae voluptatibus recusandae suscipit dolor! Voluptates odio beatae necessitatibus quo debitis adipisci quos sunt, nobis deserunt. Quae, autem itaque omnis velit earum repudiandae consequatur harum dolorem ex eos aut laboriosam laudantium ratione corrupti commodi iure voluptatibus esse ipsum adipisci alias quasi. Accusamus quidem culpa corporis praesentium voluptate vero minima dolorem repellendus, eaque nulla rem reprehenderit, deserunt quae! Velit voluptatem excepturi repellendus veniam! Tempora sequi repellat a nesciunt. Porro perferendis vitae praesentium sequi error corrupti, at est quam quidem explicabo iusto magnam  numquam atque voluptas quod asperiores, dicta consequatur, corporis aspernatur tenetur eius. Eos distinctio asperiores a? Temporibus dolorem id numquam? Ut autem enim consequatur.</a>
</div>







{{#with user }}
<div id="myModal" class="modal">
  <div class="modal-content">
    <form action="register-event" method="POST">
        <span class="close">&times;</span>
        <div class="row d-flex">
            <input type="text" placeholder="Email..." name="email" value="{{email}}">
            <input type="text" placeholder="Name..." name="name">
            <input type="text" placeholder="BirthDay..." name="birthday">
            <input type="text" placeholder="Address..." name="address">
            <input type="text" placeholder="Facebook Link..." name="facebookLink">
            <input type="text" placeholder="Phone number..." name="phoneNumber">
            <textarea class="form-control" placeholder="Hope..." rows="3" name="hope"></textarea>
            <button type="submit" name="">DANG KY</button>
        </div>
    </form>
  </div>
</div>
{{/with}}


<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>