<div class="shadow w-100 p-container pb-1">
{{#if posts}}
    {{#each posts}}
      <div class="container shadow p-3 mb-5 bg-body rounded mb-0 p-tb-0 mt-4">
        <div class="card-body">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex flex-row align-items-center w-100">
              <a href="/account/{{this.creator_id}}/{{this.id}}">
                  <div
                  style="
                  background-image: url('/images/{{this.image_slide}}');"
                  class="bg-i-inn"
                  >
                  </div>
              </a>
              <div class="ms-3 flex-1">
                <a href="/account/{{this.creator_id}}/{{this.id}}" class="a">
                  <h5>{{this.title}}</h5>
                </a>
                <div class="flex">
                  <p class="small mb-0">{{this.price}}</p>
                  <p class="small mb-0 ml-20px">{{this.acreage}}</p>
                  <p class="small mb-0 ml-20px">{{this.address}}</p>
                </div>
                <p>Mo ta</p>
                <div class="pl-0 flex">
                  <div class="flex-align-center w-100">
                      <a class="nav-link dropdown-toggle pl-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                      </a>
                      <p class="mb-0">{{this.author_name}}</p>
                      {{!--  --}}
                      <div class="flex flex-1 flex-end">
          
                          <div class="wrap mt-4">
                              <form action="/delete-inn-post?id={{this.id}}" method="POST">
                                <button class="button flex-align-center"> Xóa </button>
                              </form>
                          </div>
                          {{!--  --}}
                          <div class="wrap mt-4">
                              <div class="button flex-align-center">
                                    <a href="/{{this.creator_id}}/edit/{{this.id}}" class="a-c">Chỉnh sửa</a>
                              </div>
                          </div>
                          {{!--  --}}
                      </div>
                      {{!--  --}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{#if this.reason}}
        <p>Bai dang cua ban da bi tu choi vi lys do {{this.reason}}</p>
    {{/if}}
    {{/each}}
{{else}}
    <p class="t-c">Bạn chưa đăng tải bất kì bài đăng phòng trọ nào!</p>
{{/if}}
  <div class="wrap mt-4">
      <div class="button flex-align-center">
            <a href="/create-inn" class="a-c">Tạo mới dãy trọ</a>
      </div>
  </div>
</div>

