<a href="/create-inn" class="btn btn-primary">Tao moi tro</a>
{{#if posts}}
    {{#each posts}}
    <div>
        <div class="row">
            <div class="col-4">
            <a href="/account/{{this.creator_id}}/{{this.id}}">
                <img src="/images/{{this.image_slide}}" alt="" style="width:200px">      
            </a>
            </div>
            <div class="col-8">
            <a href="/account/{{this.creator_id}}/{{this.id}}">
                <h4>{{this.title}}</h4>
            </a>
            <div class="row">
                <p>{{this.price}}</p>
                <p>{{this.acreage}}</p>
                <p>{{this.address}}</p>
                <p>Thoi gian tao</p>
            </div>
            <div>
                {{{this.description}}}
            </div>
            <div class="row">
                <img src="https://jes.edu.vn/wp-content/uploads/2017/10/h%C3%ACnh-%E1%BA%A3nh.jpg" alt="" style="width:20px">      
                <p>{{this.author_name}}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="/delete-inn-post?id={{this.id}}" method="POST">
            <button> Xoa </button>
        </form>
        <a href="/{{this.creator_id}}/edit/{{this.id}}">Chinh Sua</a>
    </div>
{{/each}}
{{else}}
    <h1>Ban chua dang tai bat ki bai nao !</h1>
{{/if}}