{{#with post}}
<form action="/post/edit?id={{id}}" method="POST" enctype="multipart/form-data">
    <div>
    <img src="/images/{{image_slide}}" alt="" style="width:100%; height: 400px">
</div>
<div>
    <div>
        <input type="file" name="uploaded_file"  >
    </div>
    <p>
        Tieu de: <input type="text" value="{{title}}" name="title">
    </p>
    <p>
        Dia chi: <input type="text" value="{{address}}" name="address">
    </p>
    <p>
        Gia ca: <input type="text" value="{{price}}" name="price">
    </p>
    <p>
        Dien tich: <input type="text" value="{{acreage}}" name="acreage">
    </p>
    <p>
        Mo ta: <textarea name="" id="" cols="30" rows="6">{{{description}}}</textarea>
    </p>
    <p>
        Thong tin lien he: <input type="text" value="{{contact}}" name="contact">
    </p>
</div>
<a href="/account/{{creator_id}}">Cancel</a>
<button type="submit">submit</button>
</form>
{{/with}}