<div class="shadow w-100">
    {{#with user}}
<form action="/edit-profile" method="POST" enctype="multipart/form-data">
<div class="container rounded bg-white mt-5 mb-5 bg-c-w">
    <div class="row bg-c-w">
        <div class="col-md-3 border-right mt-50">
            <div class="flex-align-center">
                <div class="avatar shadow-4 bg-i-inn d-flex flex-column align-items-center text-center p-3 py-5" style="background-image: url('{{avatar_link}}')">
            </div>
            </div class="mt-50">
                <p class="font-weight-bold mt-4 mb-0">{{name}}</p>
                <p class="text-black-50">{{email}}</p><span> </span>
            <label class="custom-file-upload">
                <input type="file" name="uploaded_file"/>
                Thay đổi ảnh đại diện
            </label>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" placeholder="Your Email" value="{{email}}">
                    </div>
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="Your Name" value="{{name}}"></div>
                    <div class="col-md-12"><label class="labels">Birthday</label><input type="text" class="form-control" placeholder="Your Facebook" value="{{birthday}}"></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="Your Address" value="{{address}}"></div>
                    <div class="col-md-12"><label class="labels">Phone number</label><input type="text" class="form-control" placeholder="Your Phone Number" value="{{phone_number}}"></div>
                    <div class="col-md-12"><label class="labels">Facebook</label><input type="text" class="form-control" placeholder="Your Facebook" value="{{facebookLink}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="flex ml-10">
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">
                            <a href="/" class="a t-c-w">Cancel</a>
                        </button>
                    </div>
                    <div class="mt-5 text-center ml-20px"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;History</span></div><br>
            </div>
        </div>
    </div>
</div>
</form>
{{/with}}

</div>