<div class="shadow w-100">
    {{#with user}}
<form action="/edit-profile" method="POST" enctype="multipart/form-data">
<div class="container rounded bg-white mt-5 mb-5 bg-c-w">
    <div class="row bg-c-w">
        <div class="col-md-3 border-right mt-50">
            <div class="flex-align-center">
                <div class="avatar overflow shadow gallery3" id="image-avatar">
                    <img src="{{avatar_link}}" alt="" class="image shadow-4">
            </div>
            </div class="mt-50">
                <p class="font-weight-bold mt-4 mb-0">{{name}}</p>
                <p class="text-black-50">{{email}}</p><span> </span>
            <label class="custom-file-upload">
                <input type="file" name="uploaded_file" id="gallery-photo-add3"/>
                Thay đổi ảnh đại diện
            </label>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Cài đặt trang cá nhân</h4>
                </div>
                <div class="row mt-3 bg-c-w">
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" placeholder="Email" value="{{email}}" name="email" disabled>
                    </div>
                    <div class="col-md-12"><label class="labels">Tên</label><input type="text" class="form-control" placeholder="Họ và tên" value="{{name}}" name="name"></div>
                    <div class="col-md-12"><label class="labels">Ngày sinh</label><input type="text" class="form-control" placeholder="Ngày sinh" value="{{birthday}}" name="birthday"></div>
                    <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" class="form-control" placeholder="Địa chỉ" value="{{address}}" name="address"></div>
                    <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text" class="form-control" placeholder="Số điện thoại" value="{{phone_number}}" name="phone_number"></div>
                    <div class="col-md-12"><label class="labels">Zalo</label><input type="text" class="form-control" placeholder="Zalo" value="{{zalo}}" name="zalo"></div>
                    <div class="col-md-12"><label class="labels">Facebook</label><input type="text" class="form-control" placeholder="Facebook" value="{{facebook}}" name="facebook"></div>
                </div>
                <div class="flex ml-10">
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">
                            <a href="/" class="a t-c-w">Hủy bỏ</a>
                        </button>
                    </div>
                    <div class="mt-5 text-center ml-20px"><button class="btn btn-primary profile-button" type="submit">Lưu chỉnh sửa</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" p-t-3 pb-2 p-b-0">
                <div class="d-flex justify-content-between align-items-center experience"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Lịch sử</span></div><br>
            </div>
            <div>
{{/with}}

                <table class="table mt-2">
                <thead>
                    <tr>
                        <th scope="col" class="w-40 t-align-left">Sự kiện đã tham gia</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {{#each joinEvents}}
                        <tr>
                            <td class="t-align-left">
                                <a href="/events/action-year?year={{this.year}}&&event_name={{this.event_title}}">
                                    {{this.event_title}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</form>

</div>


<script>
    $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>'))
                    .attr('src', event.target.result)
                    .attr('class', 'image shadow-4')
                    .appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    $('#gallery-photo-add3').on('change', function() {
        document.getElementById('image-avatar').innerHTML = ''
        imagesPreview(this, 'div.gallery3');
    });
});
</script>

